@media only screen and (min-width: 600px) {
	.serviceImg {
		float: right;
		max-width: 100%;
		
	  }
  }

  @media only screen and (max-width: 600px) {
	.serviceImg {
		float: right;
		width: 100%;
		
	  }
  }

  @import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 20rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

.imgzz{
  height: 70px;
}

.kopi{
	padding: 100px 100px;
  }
.box {
	background-color: rgb(255, 255, 255);
	width: 100%;
  height: 70px;
  box-shadow: 10px  #e5e3ff;
	/* position: relative; */
	/* padding: 25px; */
	

}
  html {
	position: relative;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
  }
  a:hover,
  a:focus,
  a:visited,
  a:active {
	text-decoration: none;
  }
  body {
	margin: 0;
	padding: 0;
  }
  .content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 20px;
  }
  .content p,
  h1 {
	font-family: 'Open Sans', sans-serif;
  }
  .navigations {
	width: 100%;
	height: 80px;
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	color: #c9c9c9;
	box-shadow: 20px 2px #e5e3ff;
  }
  .navigations a {
	color: #000000;
	text-decoration: none;
  }
  .navigations a:hover {
	color: #17006b;
	text-decoration: none;
  }
  .brand {
	position: absolute;
	float: left;
	padding-left: 20px;
	line-height: 70px;
	text-transform: uppercase;
  }
  .brand a {
	color: #000000;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 700;
  }
  .brand a:visited,
  .brand a:active {
	color: #000000;
  }
  .brand a:hover {
	text-decoration: none;
  }
  .nav-container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 0px;
  }
  .nav-dropdown {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  nav {
	float: right;
	position: relative;
	display: inline-block;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 500;
  }
  nav ul {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
  }
  nav ul li {
	float: left;
	display: inline;
	position: relative;
  }
  nav ul li a {
	display: block;
	color: #ffffff;
	padding: 0 10px;
	line-height: 70px;
	background: #ffffff;
  }
  nav ul li a:hover,
  nav ul li a:focus,
  nav ul li a:active {
	text-decoration: none;
	color: #000000;
  }
  nav ul li > a:hover {
	background: #519ae3;
	color: #ffffff;
  }
  nav ul li > a:not(:only-child):after {
	padding-left: 4px;
	content: ' ▾';
  }
  nav ul li ul li {
	width: 190px;
  }
  nav ul li ul li a {
	background: #ffffff;
	display: block;
	padding: 15px;
	line-height: 20px;
	z-index: 1;
  }
  nav ul li ul li a:hover {
	background: #519ae3;
	color: #ffffff;
  }
  /* Mobile navigation */
  .nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #150558;
	height: 70px;
	width: 70px;
  }
  @media only screen and (max-width: 800px) {
	.nav-mobile {
	  display: block;
	}
	.logo {
	  position: absolute;
	}
	nav {
	  width: 100%;
	  padding: 70px 0 15px;
	}
	nav ul {
	  display: none;
	}
	nav ul li {
	  width: 100%;
	  float: none;
	}
	nav ul li > a {
	  padding: 15px;
	  line-height: 20px;
	}
	nav ul li:hover .nav-dropdown {
	  display: none;
	}
	nav ul li ul li a {
	  line-height: 20px;
	}
	.nav-dropdown {
	  position: static;
	  width: 100%;
	}
  }

  @media screen and (min-width: 800px) {
	.nav-list {
	  display: block !important;
	}
  }
  #nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #ffffff;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
	top: -10px;
  }
  #nav-toggle span:after {
	bottom: -10px;
  }
  #nav-toggle.active span {
	background-color: transparent;
  }
  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
	top: 0;
  }
  #nav-toggle.active span:before {
	transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
	transform: rotate(-45deg);
  }

  @media (max-width: 360px) { 
	.teslalogo {
	 width: 73%;
	}
	}
  